[Unit]
Description=webp-server daemon
After=network.target

[Service]
User=www-data
Group=www-data
EnvironmentFile=/etc/default/webp-server
PIDFile=/run/webp-server/webp-server.pid
KillMode=process
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PermissionsStartOnly=true
PrivateTmp=true
Type=simple
Restart=always

ExecStart=/usr/bin/webp-server
ExecStartPre=-/bin/mkdir -p /run/webp-server/
ExecStartPre=/bin/chown -R www-data:www-data /run/webp-server/

[Install]
WantedBy=multi-user.target
