[Unit]
Description=xerox daemon
After=network.target

[Service]
User=www-data
Group=www-data
EnvironmentFile=/etc/default/xerox
PIDFile=/run/xerox/xerox.pid
KillMode=process
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PermissionsStartOnly=true
PrivateTmp=true
Type=simple
Restart=always

ExecStart=/usr/bin/xerox
ExecStartPre=-/bin/mkdir -p /run/xerox/
ExecStartPre=/bin/chown -R www-data:www-data /run/xerox/

[Install]
WantedBy=multi-user.target
